.card-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}
.card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: white;
   
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
}

.card h2 {
    font-size: 18px;
    margin: 10px 0 5px;
}

.card p {
    font-size: 14px;
    color: gray;
}